html, body{height:100%;margin:0;font-family:'Montserrat','sans-serif';color:#424242;overflow:hidden}
.speed-wrap{text-align:center;position:fixed;right:1vmin;top:0}
.speed{font-size:5vmin;margin:0}
.speed-info{font-size:2vmin}
.modes{position:fixed;bottom:5px;right:0;width:100%;z-index:1}
.mode{border-radius:0 0 0 30px;position:relative;background-color:#333;color:#FFF;float:right;clear:both;cursor:pointer;padding:5px 10px;padding-left:20px;margin-top:5px;font-size:2vmin;border:1px solid #CCC}
.mode::after{content:"";height:100%;position:absolute;background-color:#333;top:-1px;right:-11px;width:11px;border:1px solid #CCC;border-left:0;border-right:0}
.mode:hover{margin-right:10px;background-color:#555}
.mode:hover::after{background-color:#555}
.mode:active{margin-right:10px;background-color:#333}
.mode:active::after{background-color:#333}
.mode.active{background-color:#FFF;color:#333;border:1px solid #CCC}
.mode.active::after{background-color:#FFF;top:-1px;right:-11px;width:11px;border:1px solid #CCC;border-left:0;border-right:0}
.general-info{position:fixed;bottom:15px;width:100%;text-align:center;color:#333;font-size:1.5vmin}
.wrap-center-info{text-align:center;display:table;height:100%;margin:0 auto}
.left-info{position:fixed;left:15px;bottom:15px}
.center-info{display:table-cell;vertical-align:middle;font-size:10vmin}
.copied-info{position:fixed;top:calc(50% - 23px);left:calc(50% - 80px);display:none;background-color:rgba(255,255,255,.8);border:1px solid #CCC;padding:10px;border-radius:10px;text-align:center}

@media only screen and (max-width:768px){
	.general-info,.mode,.left-info,.speed-info{font-size:3vmin}
}